:root {
    --font-color-1: rgb(40, 65, 128);
    --font-color-2: #ffff;
    --background-color-1: rgb(40, 65, 128);
    --background-color-2: rgb(238, 138, 18);
    --background-color-3: rgb(237, 246, 255);
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(61, 61, 61);
}

footer {
    background-color: var(--background-color-1);
    color: white;
    padding: 0px 200px 10px;
}

.footer-top {
    margin-bottom: 20px;
}

.footer-logo {
    max-width: auto;
}

.footer-text {
    font-size: 1rem;
    margin-top: -10px;
    font-weight: 300;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    gap: 20px;
}

.footer-section {
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0px;
}

.footer-section ul li {
    margin-top: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    .footer-container {
       height: 250px;
       width: 40vh;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
    }

    .footer-top img {
        margin-left: -170px;
        width: 160px;
    }

    .footer-top p {
        margin-left: -170px;
        width: 400px;
        font-size: 0.8rem;
    }

    .footer-bottom {
        margin-left: -150px;
        margin-top: -15px;
        display: flex;
        flex-direction: row; 
        width: 450px;       
    }

    .footer-bottom h3 {
        font-size: 0.7rem;
    }

    .footer-bottom ul li a {
        font-size: 0.5rem;
    }

    .footer-bottom ul li {
        margin-top: -10px;
    }
}

#header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 60px 40px 60px;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo img {
    display: block;
}

#navbar {
    padding: 0;
    position: fixed;
    margin-left: 700px;
    margin-top: -19px;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

#navbar.scrolled {
    background-color: rgba(53, 85, 146, 0.7);
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li {
    position: relative;
    padding: 6px 15px;
}

#navbar li a {
    color: var(--font-color-2);
    font-weight: bold;
    letter-spacing: 0.02rem;
}

#navbar .btn {
    color: var(--font-color-2);
    font-weight: bold;
    letter-spacing: 0.02rem;
    background-color: var(--background-color-2);
    padding: 3px 7px 3px 7px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}


.navbar-nav {
    display: flex;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
.logo img{
    margin-left: -50px;
   }

.menu-toggle {
    display: flex;
    }

.navbar-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    }

.navbar-nav.active {
    display: flex;
    }

.nav-item {
     padding: 15px 0;
    }

} 

#hero-wrapper {
    background-image: url(/img/hero-man.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

#hero {
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    height: 100vh; 
    padding-left: 110px;
    padding-right: 100px;
    margin-top: 70px;
    }

.b1 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color: var(--font-color-2);
    background-color: var(--background-color-1);
    padding: 3px 13px 3px 13px;
    border-radius: 0.3rem;
}

.b2 {
    font-size: 75px;
    font-weight: bold;
    color: var(--font-color-2);
    line-height: 1.1;
    letter-spacing: 0.2rem;
}

#l1 .p1 {
    color: var(--font-color-2);
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 20px 5px 20px;
    letter-spacing: 0.02rem;
}

#l1 #btn1 {
    all: unset;
    cursor: pointer;
    color: var(--font-color-2);
    background-color: var(--background-color-1);
    font-weight: bold;
    font-size: 20px;
    padding: 4px 20px;
    margin-right: 20px;
    margin-left: 30px;
    border-radius: 0.2rem;
    letter-spacing: 0.02rem;
}

#l1 #btn2 {
    all: unset;
    cursor: pointer;
    color: var(--font-color-2);
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 20px;
    border-radius: 0.2rem;
    letter-spacing: 0.02rem;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    #hero-wrapper {
        height: 670px;
        background-position: -20rem;
    }
    #hero {
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;     
    }

    .b1 {
        font-size: 20px;
        padding: 3px 10px;
        margin-left: 10px;
    }
    .b2 {
        font-size: 38px;
        margin-left: 10px;
    }

    #hero #l1 .p1 {
        font-size: 16px;
        padding: 5px 15px;
        max-width: 390px;
        margin-left: 10px;
    }
    #l1 #btn1 {
        display: block;
        font-size: 16px;
        padding: 8px 15px;
        width: 357px;
        margin-left: 10px;
    }

    #l1 #btn2 {
        display: block;
        font-size: 16px;
        padding: 8px 15px;
        width: 355px;
        margin-left: 10px;
        margin-top: 5px;
    }
}
#section1 {
    background-color: rgb(237, 246, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.row {
    margin-left: 100px;
    display: flex;
    gap: 20px;
}
  

.col {
    background-color: white;
    width: 250px;
    padding: 7px;
    margin: 6px;
}

.x1 {
    font-weight: bold;
    color: var(--font-color-1);
    font-size: 25px;
}

.x2 {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    #section1 .row {
        flex-direction: column;
        display: block;
        margin-left: 80px;
    }

    #section1 .row .col {
        margin-top: 20px;
    }
}
.custom-section .container {
    margin-top: -30px;
}

.custom-section {
    position: relative;
    height: 900px;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 50px;
    z-index: 0;
}

.custom-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    clip-path: polygon(0 0, 35% 0, 45% 100%, 0% 100%);
    z-index: 0;
}

.section-title {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--font-color-1);
    padding-top: 10px;
}

.underline {
    width: 90px;
    height: 6px;
    background-color: var(--background-color-2);
    margin: 15px auto;
    border-radius: 3px;
}

.description {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: 450;
    letter-spacing: 0.03rem;
    max-width: 600px;
    margin: 40px auto 30px auto;

}

.custom-btn {
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: var(--background-color-1);
    color: white;
    margin: 10px;
    display: inline-block;
    z-index: 2;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: var(--background-color-2);
    box-shadow: 0px 0px 15px var(--background-color-2);
}

.custom-btn::after {
    content: "";
    position: absolute;
    opacity: 0;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(238, 138, 18);
    transition: opacity 0.3s;
}

.custom-btn:hover::after {
    opacity: 1;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.container-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
    margin-left: 200px;
}

.text-content {
    flex: 1;
    max-width: 600px;
    z-index: 1;
    text-align: left;
}

.text-content h2 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2rem;
    padding: 3px;
    letter-spacing: 0.02rem;
}

.text-content p {
    max-width: 550px;
    line-height: 1.6;
    margin-bottom: 15px;
    letter-spacing: 0.02rem;
    font-weight: 500;
}

.text-content ul {
    list-style-type: none;
    padding: 0px;
    max-width: 550px;
}

.text-content ul li {
    margin-bottom: 8px;
    padding-bottom: 20px;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.img-container img {
    width: 90%;
    height: 90%;
    max-width: 500px;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
#classes {
    height: 1300px;
}

#classes .container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-left: -70px;
    margin-top: -640px;
}

#classes .section-title {
    font-size: 1.4rem;
    font-weight: 850;
}

#classes .description {
    max-width: 220px;
    margin-top: 7px;
    font-weight: 650;
}

#classes .underline {
    width: 80px;
    height: 7px;
    margin-top: 7px;
    font-weight: 650;
}

#classes .text-content {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-left: -120px;
}

#button-container {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

#button-container .custom-btn {
    margin-top: -20px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.img-container{
    display: flex;
    flex-direction: row;
    margin-top: -100px;
    margin-left: -195px;
}

.img-container img {
    height: 250px;
    width: 520px;
}
}
#bmi {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-3);
}

#bmi .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-left: 200px;
    padding: 60px;
}

.section3 {
    flex: 1;
    max-width: 450px;
    text-align: left;
}

.section3 h2 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2rem;
    padding: 3px;
    letter-spacing: 0.02rem;
    color: var(--font-color-1);
}

.section3 p {
    max-width: 550px;
    line-height: 1.6;
    margin-bottom: 15px;
    letter-spacing: 0.02rem;
    font-weight: 500;
}

.input-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

.input-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.input-box input {
    padding: 1px;
    width: 150px;
}

.label {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    position: relative; 
}

.image-title {
    margin-top: -50px;
    font-weight: 400;
    letter-spacing: 0.02rem;
}

.bmi-image {
    width: 600px;
    height: 270px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--background-color-2);
    position: absolute;
    bottom: -30px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.5s ease-in-out;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    #bmi {
        height: 790px;
    }

    #bmi .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -40px;
        margin-left: 70px;
    }

    .section3 p {
        width: 350px;
        height: 100px;
    }

    .section3 h2 {
        text-align: center;
    }

    .input-box {
        display: flex;
        flex-direction: column;  
        align-items: flex-start;      
    }

    .input-box input {
        margin-top: 6px;
    }

    .input-box span {
        margin-top: -30px;
        margin-left: 155px;
    }

    .image-container .bmi-image{
        width: 420px;
    }

    .image-container {
        margin-left: -5px;
    }
}
#trainer {
    text-align: center;
    background-color: white;
    height: 80vh;
}

#trainer .container {
    padding-top: 40px;
}

/* Eğitmenler için Genel Konteyner */
#trainer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* Eğitmen Kartı */
.trainer-card {
    position: relative;
    width: 250px;
}

/* Mavi Çıkıntılar */
.trainer-card::before,
.trainer-card::after, 
.trainer-card .side::before,
.trainer-card .side::after {
    content: "";
    position: absolute;
    background-color: var(--background-color-1);
    transition: all 0.3s ease-in-out;
}

.trainer-card::before,
.trainer-card::after {
    width: 70px;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.trainer-card::before {
    top: -6px;
}

.trainer-card::after {
    bottom: -6px;
}

/* Sağ ve Soldaki Çıkıntılar */
.trainer-card .side::before,
.trainer-card .side::after {
    width: 6px;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
}

.trainer-card .side::before {
    left: -6px;
}

.trainer-card .side::after {
    right: -6px;
}


/* Turuncu Kenarlık */
.trainer-border {
    border: 2px solid var(--background-color-2);
    border-radius: 12px;
    position: relative;
}

/* Eğitmen Kutusu */
.trainer-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

/* Eğitmen Resmi */
.trainer-box img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Hover Kutucuğu */
.trainer-info {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    width: 200px;
    background-color: rgba(53, 85, 146);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    opacity: 0; 
    transform: translate(-50%, 0) scale(0.5);
    transition: all 0.3s ease-in-out;
    z-index: 1; 
    padding: 10px;
}

/* Hover Olunca Görünürlük ve Boyut Ayarı */
.trainer-card:hover .trainer-info {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
}

/* Hover Olunca Mavi Çıkıntılar Uzayacak */
.trainer-card:hover::after {
    width: 190px;
}

.trainer-card:hover .side::before,
.trainer-card:hover .side::after {
    height: 160px;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
#trainer {
    height: 1270px;
}

#trainer .container {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    }

#trainer .section-title {
    font-size: 1.5rem;
}

#trainer .underline {
    margin-top: 5px;
    width: 80px;
    height: 6px;
}

#trainer .description {
    width: 280px;
    margin-top: 10px;
    font-weight: 600;
}

#trainer #trainer-container {
    margin-top: -5px;
}
}
#purchase {
    height: 80vh;
    text-align: center;
    background-color: var(--background-color-3);
}

#purchase .container {
    padding-top: 40px;
}

#purchase-container {
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.purchase-card {
    width: 250px;
    height: 415px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px grey ;
}

.purchase-card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.price-box h5 {
    letter-spacing: 0.02rem;
}

.price-box p {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: -6px;
}

.price-box .cart1 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-left: 20px;
    gap: 40px;
    align-items: center;
    margin-left: px;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    #purchase {
        height: 2000px;
    }
    
    #purchase .container {
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        }
    
    #purchase .section-title {
        font-size: 1.5rem;
    }
    
    #purchase .underline {
        margin-top: 5px;
        width: 80px;
        height: 6px;
    }
    
    #purchase .description {
        width: 280px;
        margin-top: 10px;
        font-weight: 600;
    }
    
    #purchase #purchase-container {
        margin-top: -5px;
    }
}
#review {
    background-color: white;
    height: 80vh;
    text-align: center;
}

#review .container {
    padding-top: 40px;
}

.review-container {
    display: flex;
    justify-content: center;
    gap: 90px;
  }
  
  .review-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
  }
  
  .review-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .review-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .review-info {
    text-align: left;
  }
  
  .role {
    font-size: 14px;
    color: gray;
    margin-top: -5px;
  }
  
  .bubble {
    background-color: var(--background-color-1);
    color: white;
    padding: 10px;
    position: relative;
    max-width: 100%;
    text-align: left;
  }

 /* sağ üçgen */
.bubble::before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid rgb(109, 130, 177);
  }
  
  /* sol üçgen */
  .bubble::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-top: 40px solid rgb(109, 130, 177);
  }

  /* 576px için responsive tasarım */
@media (max-width: 576px) {
  #review {
      height: 940px;
  }
  
  #review .container {
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      }
  
  #review .section-title {
      font-size: 1.5rem;
  }
  
  #review .underline {
      margin-top: 5px;
      width: 80px;
      height: 6px;
  }
  
  #review .description {
      width: 280px;
      margin-top: 10px;
      font-weight: 600;
  }
  
  #review .review-container {
      display: flex;
      flex-direction: column;
      margin-top: -5px;
  }

  #review .review-box {
    width: 380px;
    height: 250px;
    margin-left: 70px;
  }
  }
#contact {
    height: 90vh;
    text-align: center;
    background-color: var(--background-color-3);
}

#contact .container {
    padding-top: 40px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    padding-left: 200px;
}

.contact-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.contact-box h4 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.contact-box p {
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: -25px;
    margin-top: -4px;
}

.form-map-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 500px;
    gap: 65px;
    margin-top: -15px;
}

.form-box {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.form-box h5 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.form-box input,
.form-box textarea {
    background-color: white;
    border: none;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    width: 400px;
}

.map-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -65px;
}

.mobile-info, .email-info {
    display: flex;
    flex-direction: column;
}

/* 576px için responsive tasarım */
@media (max-width: 576px) {
    #contact {
        height: 860px;
    }
    
    #contact .container {
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        }
    
    #contact .section-title {
        font-size: 1.5rem;
    }
    
    #contact .underline {
        margin-top: 5px;
        width: 80px;
        height: 6px;
    }
    
    #contact .description {
        width: 280px;
        margin-top: 10px;
        font-weight: 600;
    }
    
    #contact .contact-container {
        display: flex;
        flex-direction: column;
        margin-top: -30px;
        margin-left: -100px;
    }

    .contact-container h4 {
        font-size: 0.9rem;
        
    }

    .contact-container p {
        font-size: 0.6rem;
        margin-left: -16px;
    }

    .contact-box {
        gap: 50px;
        margin-left: 30px;
    }

    #contact .form-map-container {
        display: flex;
        flex-direction: column;
    }

    .form-box {
        margin-left: 30px;
    }

    .form-box h5 {
        font-size: 1.2rem;
    }

    .form-box input {
       width: 260px;
       height: 30px;
    }

    .form-box textarea {
        width: 260px;
        height: 70px;
    }

    .map-box {
        margin-top: -50px;
        margin-left: 20px;
    }

    .map-box iframe {
        width: 280px;
        height: 300px;
    }
    }
